[Unit]
Description=Apache Tomcat 9
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
Environment=GUACAMOLE_HOME=/etc/guacamole
Environment=CATALINA_HOME=/opt/tomcat9

ExecStart=/opt/tomcat9/bin/startup.sh
ExecStop=/opt/tomcat9/bin/shutdown.sh

User=root
Group=root

[Install]
WantedBy=multi-user.target